#app {
  text-align: center;
}


#inputs-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.dates-container {
  margin-top: 50px;
  margin-right: 50px;
}


.react-datepicker__input-container {
  width: 240px;
}

.stock-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stock-inputs .input {
  width: 240px;
  height: 36px;
  padding-left: 5px;
}

.stock-inputs label {
  margin-top: 20px;
}

button {
  margin-top: 30px !important;
}

.error-message {
  color: red;
}


.tweet-results{
  display: flex;
  justify-content: center;
}
