#app {
  text-align: center;
}

#app #app-header {
  background-color: #135086;
  height: 100px;
  padding: 20px;
  color: white;
}

#app h4, #app h5 {
  padding: 30px;
  margin: 0px;
  color: #3e3e3e;
}

#app .search-container .button {
  margin-left: 10px;
}

.page{
    background-color: #e2e9ff;
    min-height: calc(100vh - 100px);
    height: 100%;
}



