#app {
  text-align: center;
}

#app #app-header {
  background-color: #135086;
  height: 100px;
  padding: 20px;
  color: white;
}

#app h4, #app h5 {
  padding: 30px;
  margin: 0px;
  color: #3e3e3e;
}

#app .search-container .button {
  margin-left: 10px;
}

.tweet-menu {
  display: flex;
  justify-content: center;
  border-bottom: 5px solid #135086;
  width: 50%;
  margin: auto;
  margin-top: 10px;
}

.tweet-menu div{
  margin: 10px 10px 0px 10px;
  color: white;
  background: #798f96;
  height: 50px;
  width: 150px;
  line-height: 3;
  cursor: pointer;
}

.tweet-menu .selected {
  background: #135086;
}

.page {
    background-color: #e2e9ff;
    min-height: calc(100vh - 100px);
    height: 100%;
}



