#main-container {
  justify-content: center;
}

#show-tweets.results.none {
  width: 100%;
  margin: auto;
  color: red;
}

.main-section {
  width: 290px;
  margin: 20px;
}

.configure-subtitle {
  line-height: 1.4 !important;
}

.configure-title {
  padding-bottom: 0px !important;
}